# .github/workflows/build-macos.yml
# Last modified: 05-Feb-2026 (kobayasy)

name: macOS

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build and install
      run: |
        mkdir build
        cd build
        ../src/configure --prefix=$HOME --enable-warnall
        make install distclean
        cd ..
        rmdir build
    - name: Run
      run: |
        ~/bin/syncTimeICOM --help
